.projects header {
  margin-block: 56px;
  margin-inline: auto;
  text-align: center;
}

header span {
  font: var(--inconsolata-subtitle);
  color: var(--red);
  margin-bottom: 8px;
}

.project-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--gray-200);
  padding: 16px;
  border-radius: 8px;
  width: 330px;
  margin: 0 auto;
}

.project-link:hover {
  opacity: 0.9;
  border: 1px solid var(--gray-300);
}

figure {
  width: 100%;
  margin: 0;
}

figcaption span {
  font: var(--asap-sm);
  color: var(--gray-600);
  display: block;
  margin-top: 8px;
}

figcaption h3 {
  font: var(--mavenPro-sm);
  color: var(--gray-500);
  margin-top: 4px;
}

.projects-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 8px;
}

@media (width >= 80em) {
  /*grid grid-cols-3*/
  .grid {
    display: grid;
  }

  .grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
