#services {
  background-color: var(--gray-100);
  padding-top: 5.5rem;
  padding-bottom: 7.5rem;

  & header {
    margin-bottom: 3.5rem;
    margin-inline: auto;
    text-align: center;
  }

  & article {
    max-width: 1040px;
    margin-inline: auto;
    display: grid;
    gap: 16px;
  }

  & figure {
    border: solid 2px var(--gray-200);
    border-radius: 12px;
    padding-inline: 20px;
    text-align: center;
    padding: 2rem;
  }

  & figcaption {
    padding-bottom: 20px;
  }
}
