.py-base {
  padding-block: var(--py-base);
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-36 {
  gap: 2.25rem;
}

.gap-24 {
  gap: 1.5rem;
}

.gap-16 {
  gap: 1rem;
}

.gap-8 {
  gap: .5rem;
}
